In [1]:
import pandas as pd
import numpy as np
from tqdm import tqdm

### completing dataframe

In [39]:
df = pd.read_csv("full.csv")
display(df.head(1))

,job_url,description,job_title,comp_name,comp_link,city
0,https://www.stepstone.de/stellenangebote--Data...,"Step out of your comfort zone, excel and redef...",NaN,ZEISS,https://www.stepstone.de/cmp/de/ZEISS-3427/job...,Oberkochen (Baden-Württemberg)

In [40]:
# df21 = pd.read_csv("job url 1.csv")
# df22 = pd.read_csv("job url 2.csv")
# df21 = df21.drop(columns = ["job_source"])
# df22 = df22.drop(columns = ["job_source"])
# df = pd.concat([df1, df21, df22], axis = 0)

In [41]:
display(df.shape)
df.head()

(1843, 6)

,job_url,description,job_title,comp_name,comp_link,city
0,https://www.stepstone.de/stellenangebote--Data...,"Step out of your comfort zone, excel and redef...",NaN,ZEISS,https://www.stepstone.de/cmp/de/ZEISS-3427/job...,Oberkochen (Baden-Württemberg)
1,https://www.stepstone.de/stellenangebote--Date...,Die parcIT ist einer der führenden Anbieter vo...,Datenanalyst / Data Analyst Risikomanagement (...,parcIT GmbH,https://www.stepstone.de/cmp/de/parcIT-GmbH-78...,Köln
2,https://www.stepstone.de/stellenangebote--Data...,Die Vonovia SE ist Europas führendes privates ...,Data Analyst (m/w/d) im BI-Controlling,Vonovia,https://www.stepstone.de/cmp/de/Vonovia-76597/...,Bochum
3,https://www.stepstone.de/stellenangebote--Web-...,"Die SCHUFA war schon Fintech, bevor es Fintech...",Web & Data Analyst (w/m/d) in Voll- oder Teilz...,SCHUFA Holding AG,https://www.stepstone.de/cmp/de/SCHUFA-Holding...,Wiesbaden
4,https://www.stepstone.de/stellenangebote--Data...,"Analyse, Aufbereitung und Bewertung verkehrsp...",Data Analyst*in - Verkehrsforschung,DSW21 Dortmunder Stadtwerke AG,https://www.stepstone.de/cmp/de/DSW21-Dortmund...,Dortmund

In [42]:
df.isna().sum()

job_url          0
description      0
job_title      227
comp_name        0
comp_link       13
city           937
dtype: int64

In [43]:
display(df.shape)
df = df.dropna(subset = ["comp_link"])
display(df.shape)

(1843, 6)

(1830, 6)

creating keywords to sort the job offer based on the descriptions:
how relevant the description is to a certain category (A, B, C, D, E, F).
the more keywords found for each category, the more points it will get for that category,
the more relevant it is to said category.

In [44]:
querying = ["data","analy","analy","sql","sql","sql","big data","query","entry","base","warehouse"] #A
engineering = ["python","python","data","analy","analy","machine","learn","etl","oop","pipe","pipe","tensor","engineer","nlp"] #B
analysis = ["python","python","python","data","analy","analy","eda","predict","machine","learn","test","explor","statisti"] #C
model_building = ["python","python","data","analy","analy","machine","machine","learn","predict","ml","model","model","train"] #D
scraping = ["python","python","python","data","analy","analy","clean","mining","scrap","csv","json","api"] #E
dashboarding = ["bi","bi","power","data","analy","analy","dashboard","tableau","tableau","tableau","report","visuali"] #F
category = [querying, engineering, analysis, model_building, scraping, dashboarding]

In [45]:
A,B,C,D,E,F = [],[],[],[],[],[]

scores = [A,B,C,D,E,F]
description = df.description.tolist()
for des in tqdm(description):
    for score, cat in list(zip(scores, category)):
        sc = []
        for i in cat:
            if i in str(des).lower():
                sc.append(1)
            # else:
            #     sc.append(0)
        n = len(sc)/len(cat)*100
        score.append(round(n,2))

100%|██████████| 1830/1830 [00:01<00:00, 922.81it/s]

In [46]:
df["querying"] = A
df["engineering"] = B
df["analysis"] = C
df["model_building"] = D
df["scraping"] = E
df["dashboarding"] = F
df.head(1)

,job_url,description,job_title,comp_name,comp_link,city,querying,engineering,analysis,model_building,scraping,dashboarding
0,https://www.stepstone.de/stellenangebote--Data...,"Step out of your comfort zone, excel and redef...",NaN,ZEISS,https://www.stepstone.de/cmp/de/ZEISS-3427/job...,Oberkochen (Baden-Württemberg),27.27,28.57,23.08,23.08,33.33,58.33

do some quick EDA

In [47]:
df.describe()

,querying,engineering,analysis,model_building,scraping,dashboarding
count,1830.000000,1830.000000,1830.000000,1830.000000,1830.000000,1830.000000
mean,27.793536,22.135683,26.616344,28.478158,23.365322,40.346689
std,20.857718,16.908131,20.318535,21.599798,17.054316,23.158819
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,11.362500,14.290000,15.380000,15.380000,10.415000,25.000000
50%,27.270000,21.430000,23.080000,23.080000,25.000000,41.670000
75%,45.450000,28.570000,38.460000,38.460000,33.330000,50.000000
max,81.820000,85.710000,92.310000,100.000000,75.000000,100.000000

In [48]:
df.isna().sum()

job_url             0
description         0
job_title         227
comp_name           0
comp_link           0
city              924
querying            0
engineering         0
analysis            0
model_building      0
scraping            0
dashboarding        0
dtype: int64

In [49]:
# df = df.dropna(subset="description")
df = df.fillna("unknown")
df.isna().sum()

job_url           0
description       0
job_title         0
comp_name         0
comp_link         0
city              0
querying          0
engineering       0
analysis          0
model_building    0
scraping          0
dashboarding      0
dtype: int64

In [50]:
df.shape

(1830, 12)

cleaning column "city", in a way that every job that has multiple cities, the city value will be replaced by "multiple cities"

In [51]:
city = []
for i in df["city"]:
    if "," in i:
        i= "multiple cities"
        city.append(i)
    else:
        city.append(i)
df["city"] = city
df["city"].nunique()

223

In [52]:
df.columns

Index(['job_url', 'description', 'job_title', 'comp_name', 'comp_link', 'city',
       'querying', 'engineering', 'analysis', 'model_building', 'scraping',
       'dashboarding'],
      dtype='object')

In [53]:
X = df.drop(columns=["job_url","description","comp_link"])

In [54]:
df.to_csv("data clean with url.csv", index = False)

In [55]:
X.columns

Index(['job_title', 'comp_name', 'city', 'querying', 'engineering', 'analysis',
       'model_building', 'scraping', 'dashboarding'],
      dtype='object')

In [56]:
X.to_csv("data clean.csv", index = False)

# END OF STEP 2