In [1]:
import pandas as pd
import numpy as np
from tqdm import tqdm

### completing dataframe

In [2]:
df1 = pd.read_csv("stepstone 1 incomplete.csv")
display(df1.head(1))

,job_url,description,job_title,comp_name,comp_link,city
0,https://www.stepstone.de/stellenangebote--Proc...,Dein Herz schlägt für komplexe Logistikprozess...,Processmanager & Data Analyst Global Warehousi...,Lufthansa Technik Logistik Services GmbH,https://www.stepstone.de/cmp/de/Lufthansa-Tech...,Hamburg

In [3]:
df21 = pd.read_csv("job url 1.csv")
df22 = pd.read_csv("job url 2.csv")
df21 = df21.drop(columns = ["job_source"])
df22 = df22.drop(columns = ["job_source"])
df = pd.concat([df1, df21, df22], axis = 0)

In [319]:
display(df.shape)
df.head()

(7120, 6)

,job_url,description,job_title,comp_name,comp_link,city
0,https://www.stepstone.de/stellenangebote--Proc...,Dein Herz schlägt für komplexe Logistikprozess...,Processmanager & Data Analyst Global Warehousi...,Lufthansa Technik Logistik Services GmbH,https://www.stepstone.de/cmp/de/Lufthansa-Tech...,Hamburg
1,https://www.stepstone.de/stellenangebote--Stru...,Converting Data into Market Trust European Dat...,Structured Finance Data Analyst (m/f/d) Native...,European DataWarehouse GmbH Colosseo,https://www.stepstone.de/cmp/de/European-DataW...,Frankfurt am Main
2,https://www.stepstone.de/stellenangebote--Data...,"IQVIA (NYSE: IQV) ist ein führender, globaler ...",Data Analyst – Fokus Onkologie (m/w/d),IQVIA Commercial GmbH & Co. OHG,https://www.stepstone.de/cmp/de/IQVIA-Commerci...,Frankfurt am Main
3,https://www.stepstone.de/stellenangebote--Math...,Willkommen in deiner Zukunft! 55.000 Kolleginn...,Mathematiker / Data Analyst (m/w/d) im Bereich...,Zurich Gruppe Deutschland,https://www.stepstone.de/cmp/de/Zurich-Gruppe-...,Köln
4,https://www.stepstone.de/stellenangebote--Data...,Die Vonovia SE ist Europas führendes privates ...,Data Analyst (m/w/d) im BI-Controlling,Vonovia,https://www.stepstone.de/cmp/de/Vonovia-76597/...,Bochum

creating keywords to sort the job offer based on the descriptions:
how relevant the description is to a certain category (A, B, C, D, E, F).
the more keywords found for each category, the more points it will get for that category,
the more relevant it is to said category.

In [4]:
querying = ["data","analy","sql","big data","query","entry","base","warehouse"] #A
engineering = ["python","data","analy","machine","learn","etl","oop","pipe","tensor","engineer","nlp"] #B
analysis = ["python","data","analy","eda","predict","machine","learn","test","explor","statisti"] #C
model_building = ["python","data","analy","machine","learn","predict","ml","model","train"] #D
scraping = ["python","data","analy","clean","mining","scrap","csv","json","api"] #E
dashboarding = ["bi","power","data","analy","dashboard","tableau","report","visuali"] #F
category = [querying, engineering, analysis, model_building, scraping, dashboarding]

In [7]:
A,B,C,D,E,F = [],[],[],[],[],[]

scores = [A,B,C,D,E,F]
description = df.description.tolist()
for des in tqdm(description):
    for score, cat in list(zip(scores, category)):
        sc = []
        for i in cat:
            if i in str(des).lower():
                sc.append(1)
            # else:
            #     sc.append(0)
        n = len(sc)/len(cat)*100
        score.append(round(n,2))

100%|██████████| 7120/7120 [00:20<00:00, 355.96it/s]

In [8]:
df["querying"] = A
df["engineering"] = B
df["analysis"] = C
df["model_building"] = D
df["scraping"] = E
df["dashboarding"] = F
df.head(1)

,job_url,description,job_title,comp_name,comp_link,city,querying,engineering,analysis,model_building,scraping,dashboarding
0,https://www.stepstone.de/stellenangebote--Proc...,Dein Herz schlägt für komplexe Logistikprozess...,Processmanager & Data Analyst Global Warehousi...,Lufthansa Technik Logistik Services GmbH,https://www.stepstone.de/cmp/de/Lufthansa-Tech...,Hamburg,50.0,18.18,30.0,22.22,33.33,25.0

do some quick EDA

In [9]:
df.describe()

,querying,engineering,analysis,model_building,scraping,dashboarding
count,7120.000000,7120.000000,7120.000000,7120.000000,7120.000000,7120.000000
mean,17.262992,17.121851,21.146067,24.812590,16.345147,29.238062
std,13.590448,12.817254,13.990586,17.231303,10.784710,16.406220
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,12.500000,9.090000,10.000000,11.110000,11.110000,25.000000
50%,12.500000,18.180000,20.000000,22.220000,11.110000,25.000000
75%,25.000000,27.270000,30.000000,33.330000,22.220000,37.500000
max,87.500000,81.820000,80.000000,100.000000,66.670000,100.000000

In [11]:
df.isna().sum()

job_url             0
description       477
job_title           1
comp_name           1
comp_link          54
city              381
querying            0
engineering         0
analysis            0
model_building      0
scraping            0
dashboarding        0
dtype: int64

In [13]:
df = df.dropna(subset="description")
df = df.fillna("unknown")
df.isna().sum()

job_url           0
description       0
job_title         0
comp_name         0
comp_link         0
city              0
querying          0
engineering       0
analysis          0
model_building    0
scraping          0
dashboarding      0
dtype: int64

In [14]:
df.shape

(6643, 12)

cleaning column "city", in a way that every job that has multiple cities, the city value will be replaced by "multiple cities"

In [15]:
city = []
for i in df["city"]:
    if "," in i:
        i= "multiple cities"
        city.append(i)
    else:
        city.append(i)
df["city"] = city
df["city"].nunique()

712

In [16]:
df.columns

Index(['job_url', 'description', 'job_title', 'comp_name', 'comp_link', 'city',
       'querying', 'engineering', 'analysis', 'model_building', 'scraping',
       'dashboarding'],
      dtype='object')

In [17]:
X = df.drop(columns=["job_url","description","comp_link"])

In [18]:
# df.to_csv("data clean with url.csv", index = False)

In [19]:
X.columns

Index(['job_title', 'comp_name', 'city', 'querying', 'engineering', 'analysis',
       'model_building', 'scraping', 'dashboarding'],
      dtype='object')

In [20]:
# X.to_csv("data clean.csv", index = False)

# END OF STEP 2